@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - ATS ENGINEERING</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body class="loginbg">   
    <div class="container-fluid" style="background-color:#2706F0">
        <header class="py-1 h-100">
            <img class="float-start" height="30" src="~/pimeslogo.png" />            
            <img class="float-end" height="30" src="~/ats wbg.png" />
            <h2 class="text-white fs-5 fw-bold text-decoration-none text-wrap text-center my-auto py-1" href="https://pimes.com.ph/">ATS ENGINEERING - DMD PORTAL</h2>            
        </header>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center" style="min-height:80vh">
            <div class="col-sm-8 col-md-6 col-lg-3 my-auto">
                <div class="alert alert-danger mt-2 text-center" id="loginfailed" style="display:none">
                    
                </div>
                <div class="card border-3 border-dark">
                    <div class="card-header text-center fs-5 fw-bold bg-primary">
                        Welcome to DMD Portal
                    </div>                   
                    <div class="card-body">
                        <form id="loginFormID">
                            <div>
                                <input class="form-control" placeholder="Username" id="username" name="user" required />
                            </div>
                            <div>
                                <input class="form-control my-2" placeholder="Password" id="password" type="password" name="pass" required />
                            </div>
                            <div class="my-2">
                                <input class="btn btn-primary w-100" type="submit" value="Login"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function (){
            $('#loginFormID').submit(function (e){
                e.preventDefault();

                $.ajax({
                    type:'Post',
                    url: '@Url.Action("TryLogin", "Login")',
                    data: $(this).serialize(),
                    success: function (response)
                    {
                        if (response.Type === 'a'){
                            window.location.href = response.nLink;
                        }
                        else{
                            var f = document.getElementById('loginfailed');
                            $('#username').val('');
                            $('#password').val('');
                            f.style.display = 'block';
                            f.innerHTML = 'Incorrect username or password';
                        }
                    }
                });
            });
        });
    </script>
    
    <div class="offcanvas offcanvas-end border-3 shadow" style="z-index:2001; background-color:#B5AD9A" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header bg-primary border-5 border-dark">
            <div class="d-flex justify-content-center w-100">
                <h5 class="offcanvas-title text-center text-white fw-bolder" id="offcanvasExampleLabel">ATS Systems</h5>
            </div>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body overflow-auto flex-column">
            <a class="w-100 d-flex justify-content-center bg-secondary border-dark mb-3 text-decoration-none" style="border: 2px solid; height: 50px;" href="http://192.168.6.144/ATS/ATSPROD_PORTAL/ATS_Prod_Home.php">
                <img src="~/photos/prod.png" class="h-100" alt="CSAT Logo" />
                <p class="text-white text-center fs-3 m-auto fw-bolder">ATS - PRODUCTION</p>
            </a>
        </div>
    </div>
    <footer class="footerLayout">
        <div class="my-auto">
            <p class="text-white mx-3">
                &copy; 2023 - P. IMES - ATS QUALITY ASSURANCE
            </p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
