@{
    ViewData["Title"] = "CreateMTIView";
}

<h1>CreateMTIView</h1>

<div class="container row">
    <div class="col-6">
        1231323123
    </div>
    <div class="col-6">
        12312312312
    </div>
</div>

