
@{
    ViewData["Title"] = "Admin Lounge";
}

@section scripts {
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#travtable').DataTable({
                searching: true,
                lengthChange: false,
                pageLength: 7,
                order: [],
                ordering: false
            });
        });
    </script>
}

<div class="w-100 d-flex">
    <div class="w-25 bg-dark border-dark border-2 align-self-center">
        <marquee class="text-white">
            Welcome to Admin Lounge, please contact the developer if you have concerns or feedback. Thank you and have a great day! 
        </marquee>
    </div>
    <div>
        <a class="btn btn-primary mx-1" asp-controller="Admin" asp-action="AccountsView">Accounts</a>
    </div>
    
</div>

